* {
    box-sizing: border-box;
    font: Helvetica, Arial, sans-serif;
}
h1 {
    display: block;
    font-size: 2em;
    margin-top: 5em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-align:center;
  }
body {
    background-color: rgb(250,235,215);
    color: rgb(0, 0, 0);
    display: block;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}
.box{
    width: 70%;
    margin : auto;
}
.cc-header {
    padding: 2rem;
}

.cc {
    background-color: #DAEAF1;

    display: flex;
    font-size: 1.5rem;
    align-items: center;
    height: 70px;
    width: 100%;
    position: relative;
    padding: 1rem;
    overflow: auto;
}


.cc-body {
    padding: 0 1rem 1rem;
}

.form-control {
    color: rgb(10, 10, 10);
    display: flex;
    justify-content: space-between;
    margin: 0.75rem 0;
}

.generate {
    background-color: #C6DCE4;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem;
    margin-top: 1rem;
    width: 100%;
}